/*style.css*/

body {
	background-color: #444;
	color: #fff;
}
.container {
	padding: 30px;
	margin: 0 auto;
	width: 1140px;
}
button {
	color: #000;
}

/*Left Panel*/

#color-picker {
	float: right;
	border: 1px solid #ccc;
	padding: 10px;
	width: 100%;
}
#color-map {
	background-image: url('map-saturation.png');
	height: 255px;
	width: 270px;
}
#swatch-container {
	margin: 0;
	font-size: 0; /*hack to remove space between swatches*/
}
.swatch {
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: #000;
}

/*Middle Panel*/

.grid-container {
	position: relative;
	clear: both;
}
canvas {
	cursor: crosshair;
}
#bg, #overlay {
	position: absolute;
	left: 0;
	top: 0;
}
#bg {
	/*border: 1px dotted #000;*/
	z-index: 0;
}
#overlay {
	border: 1px solid #fff;
	z-index: 999;
	opacity: 1;
}

/* Right Panel */

.controls {
	/*border: 1px solid #fff;*/
	font-size: 12px;
}
.controls-row {
	width: 100%;
	float: left;
}
.preview-container {
	/*position: relative;*/
	/*border: 1px solid #fff;*/
	height: 300px;
}
#preview {
	position: relative;
	left: 20px;
	top: 20px;
	cursor: default;
	/*clear: both;*/
}
.menu {
	/*border: 1px solid #fff;*/
}