/*style.css*/

@font-face { font-family: Fipps; src: url('Fipps-Regular.otf');}
@font-face { font-family: Minecraftia; src: url('Minecraftia.ttf');}

body{
  font-family: Minecraftia;
}

.container {
  padding: 30px;
  margin: 0 auto;
  width: 1140px;
}
.grid-container {
  position: relative;
  clear: both;
}
/*.title{
 display: block;
  margin: auto;
}*/

div{
    border: 0;
     width: 100%;
     height: auto;
}

.menu{
  display: block;
    position: relative;
    width: auto;
    height: auto;
    border: red 2px solid;
    }

#dance{
  border: 0;
  width: auto;
  height: auto;
  position: relative;

}

#editor{
  border: 0;
  width: auto;
  height: auto;
  position: relative;

}

.title{
  border: 0;
  width: 100%;
  height: auto;
  position: relative;

}

.filler{
  height: 100px;
  position: relative;
}

.row{
  position: relative;
}
/*body{
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
}*/
html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dancer-container{
position: absolute;
border: 2px red solid;
height: 200px;
width: 200px;
top: 400px;
margin: -100px 0 0 -150px;
left: 50%;
z-index: 15;


}

.dancer{
position: relative;
width: 200px;
height: 200px;
}

.moves-container{
  float: right;
  position: relative;

  width: 400px;
}

.contact-header{
  color:white;

}
.contact{
color: white;
  width: 50%;
  margin:auto;
  font-size: 20px;
}

.names{
  color: white;
  text-decoration: none;
}
label{
color: #fff;
}
