%div.container
  %div.row
    %div#left-panel.left.large-3.columns
      %div.row
        %div#color-picker
          %canvas#color-picker-canvas
          %div#swatch-container
            %div.picker-swatch.swatch-0
            %div.picker-swatch.swatch-1
            %div.picker-swatch.swatch-2
            %div.picker-swatch.swatch-3
            %div.picker-swatch.swatch-4
            %div.picker-swatch.swatch-5
            %div.picker-swatch.swatch-6
            %div.picker-swatch.swatch-7
            %div.picker-swatch.swatch-8
          %div#color-palette-container
            %canvas#canvas-color-palette
          %div.tools
            %button#button-clear.button.button-clear
              clear
    %div#middle-panel.small-6.medium-6.large-6.columns
      %div.grid-container
        %canvas#overlay
        %canvas#bg
    %div#right-panel.large-3.columns.right
      %div.row
        %div.preview-container
          %canvas#preview
      %div.row
        %div.help-container
          %div.help-instructions.callout
            %div.callout-text
          %div.help-bob
      %div.row
        %div.buttons-container
          %button#button-add-moves.button.add-moves
            get jiggy
  %div#page-dim
%script(src='/js/grid.js')
%script(src='/js/editor.js')