%div.large-12.columns
  %div.title-wrapper
    %img.title(src='/images/sprite-fever.png')
  %div.row
    %div.large-3.medium-3.small-3.columns
    %div.large-6.medium-6.small-6.columns.large-centered.medium-centered.small-centered.main-menu
      %a#link-editor(href='/editor')
        %img(src='/images/new-sprite.png' alt='editor')
      %br
      %a#moves(href='/moves')
        %img(src='/images/just-dance.png' alt='just dance')
      %br
    %div.large-3.medium-3.small-3.columns
