!!!
%html
  %head
    %title Sprite Fever
    %link(rel="stylesheet" type="text/css" href="/css/normalize.css")
    %link(rel="stylesheet" type="text/css" href="/css/foundation.css")
    %link(rel="stylesheet" type="text/css" href="/css/style.css")
    %link(rel="stylesheet" type="text/css" href="/css/animate.css")
    %link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    %script(src='https://cdn.firebase.com/js/client/1.0.17/firebase.js')    
    %script(src='/js/jquery.js')
    %script(src='/js/jquery.transit.min.js');
  %body
    %div.contain-togrid
      %nav.top-bar{:data => {'top-bar' => true}} 
        %ul.title-area
          %li.name
            %h1
              %a(href="/")
                %span Sprite Fever
        %section.top-bar-section
          %ul.left
            %li
              %a(href="")
                %audio{preload: 'auto', controls: true, autoplay: true, loop: true, volume: 0.5}
                  %source{ src: '/sound/load.m4a' }
          %ul.right
            %li
              %a#link-about(href="/about") about
            %li
              %a#link-contact(href="/contact") contact
    %div#content
      = yield
    %footer
    %script(src='/js/foundation.js')
    %script(src='/js/foundation.dropdown.js')
    %script(src='/js/main.js')
