!!!
%html
  %head
    %title Sprite Fever
    %link(rel="stylesheet" type="text/css" href="/css/normalize.css")
    %link(rel="stylesheet" type="text/css" href="/css/foundation.css")
    %link(rel="stylesheet" type="text/css" href="/css/style.css")
    %link(rel="stylesheet" type="text/css" href="/css/test.css")
    %link(rel="stylesheet" type="text/css" href="/css/animate.css")
    %script(src='https://cdn.firebase.com/js/client/1.0.17/firebase.js')    
    %script(src='/js/jquery.js')
  %body
    %div.contain-togrid
      %nav.top-bar
        %ul.title-area
          %li.name
            %h1
              %a(href="/")
                Sprite Fever
        %ul.right
          %audio.home{preload: 'auto', controls: true, autoplay: true, loop: true, volume: 0.5}
            %source{ src: '/sound/load.m4a' }
          %li
            %a#link-about(href="/about") about
          %li
            %a#link-contact(href="/contact") contact
    %div#content
      = yield
    %footer
    %script(src='/js/foundation.js')
    %script(src='/js/foundation.dropdown.js')
    %script(src='/js/main.js')
