- content_for :moves
%div.container
	%div.row
		%div.left.large-7.columns
			%div#countdown 
				%span.text Get Ready!
				%div.timer 5
			%div#stop Aww Yissss
			%div.dancer-container.animated
				%div.dancer
					%img#dancer.animated(src=@img_data)
		%div.right.large-5.columns
			%div.row
				%div.moves-instructions-container
					%ul
						%li
							%div.move-container
								%div.keytip
									%div.keyboard-tip-outer
										%div.keyboard-tip-inner
											%span 1
								%div.move-name
									%span 
										%img.image-move(src='/images/shake.png')
						%li
							%div.move-container
								%div.keytip
									%div.keyboard-tip-outer
										%div.keyboard-tip-inner
											%span 2
								%div.move-name
									%span
										%img.image-move(src='/images/bounce.png')
						%li
							%div.move-container
								%div.keytip
									%div.keyboard-tip-outer
										%div.keyboard-tip-inner
											%span 3
								%div.move-name
									%span
										%img.image-move(src='/images/swing.png')
						%li
							%div.move-container
								%div.keytip
									%div.keyboard-tip-outer
										%div.keyboard-tip-inner
											%span 4
								%div.move-name
									%span
										%img.image-move(src='/images/wobble.png')
			%div.row
				%div.moves-help-container
					%div.moves-help-instructions.moves-callout
						%div.moves-callout-text
							Ready to show your stuff?
					%div.moves-help-bob.animated
				%div.controls
					%button#button-record.button.button-record
						%span.fa.fa-circle
						Record
					%button#button-replay.button.button-replay
						%span.fa.fa-video-camera 
						Replay
					%button#button-save.button.button-save
						%span.fa.fa-save 
						Save
	%div#page-dim
	%div#saving Saving
	%div#modal
		%form
			%label.label-text
			%input#sprite-name-input(autofocus='true')
%script(src='/js/moves.js')