
@font-face { font-family: Fipps; src: url('Fipps-Regular.otf');}
@font-face { font-family: Minecraftia; src: url('Minecraftia.ttf');}

body{
  font-family: Minecraftia;
  overflow-x: hidden;
}

.loaded-content-wrapper {
	margin-left: 100%;
	width: 100%;
	position: absolute;
}

/*style.css*/

.container {
	padding: 30px;
	margin: 0 auto;
	width: 1140px;
}
.grid-container {
	position: relative;
	clear: both;
}
/*Left Panel*/

#color-picker {
	border: 1px solid #ccc;
	padding: 10px;
	width: auto;
	margin-left: 0px;
}
#color-map {
	background-image: url('map-saturation.png');
	height: 255px;
	width: 270px;
  margin-bottom: 10px;
}
#swatch-container {
  margin: 0;
  font-size: 0; /*hack to remove space between swatches*/
  margin-bottom: 10px;
}
#color-palette-container {
  width: 258;
  margin-bottom: 10px;
}
#canvas-color-palette {
  width: 100%;
}
.swatch, .picker-swatch {
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: #000;
}

/*Middle Panel*/

canvas {
	cursor: url('../images/cursor.cur'), auto;
}


#bg, #overlay {
	position: absolute;
	left: 0;
	top: 0;
}
#bg {
	border: 1px dotted #000;
	z-index: 0;
}
#overlay {
	border: 1px solid #fff;
	z-index: 999;
	opacity: 1;
}

/* Right Panel */

.preview-container {
	position: relative;
	border: 1px solid #fff;
	height: 300px;
	width:300px;
	background: rgba(255,255,255,0.5);
}

#preview {
	position: absolute;
	left: 20px;
	top: 20px;
	cursor: default;
	clear: both;
}

#page-dim {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
  top: 0;
  left: 0;
}

@keyframes bounce {
  0%   { top: 0px;  }
  50%  { top: -10px;}
  100% { top: 0px;  }
}


@-webkit-keyframes bounce {
  0%   { top: 0px;  }
  50%  { top: -10px;}
  100% { top: 0px;  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

/*#sam {
  display: none;
  height: 200px;
  width: 150px;
  position: absolute  
  top: calc(50% - 64px);
  left: calc(50% - 64px);
  background-image: url('../images/loading_man.png');
  background-size: cover;
  background-repeat: no-repeat;
  /*-vendor-animation-duration: 3s;*/
  /*-vendor-animation-iteration-count: infinite;*/
  /*-webkit-animation: dance-bob 2s infinite;*/

*/

/*style.css*/

div{
    border: 0;
     width: 100%;
     height: auto;
}

.menu{
  display: block;
    position: relative;
    width: auto;
    height: auto;
    border: red 2px solid;
    }

#dance{
  border: 0;
  width: auto;
  height: auto;
  position: relative;

}

#editor{
  border: 0;
  width: auto;
  height: auto;
  position: relative;

}
.title-wrapper {
  width: 1000px;
  margin: 0 auto;
}

.title{
  border: 0;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 120px;

}

.filler{
  height: 100px;
  position: relative;
}

.row{
  position: relative;
}
html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dancer-container{
position: absolute;
height: 200px;
width: 200px;
top: 400px;
margin: -100px 0 0 -150px;
left: 50%;
z-index: 15;
}

.dancer{
position: relative;
width: 200px;
height: 200px;
}

.moves-container{
  float: right;
  position: relative;

  width: 400px;
}

.contact-header{
  color:white;

}
.contact{
color: white;
  width: 50%;
  margin:auto;
  font-size: 20px;
}

.names{
  color: white;
  text-decoration: none;
}
label{
color: #fff;
}

span{
color: #fff;
}

.home{
  margin-top: 300px;
}

/*Moves Editor*/

.moves-editor-container {
  /*display: none;*/
}

/*Instructions Overlay*/

/*overlay*/
.overlay-container {}
.instructions-container {}
.instructions {}

/*instructions*/

/*keymap tooltips*/

li.tooltip {
  list-style-type: none;
}

.keyboard-tip-outer {
  color: #eee;
  height: 30px;
  width: 30px;
  padding: 2px;
  text-align: center;
  border-radius: 15%;
  border: 1px solid #eee;
}

.keyboard-tip-inner {
  border-radius: 15%;
  border: 1px solid #eee;
  padding: 2px;
}
.keyboard-tip-inner span {
  display: inline-block;
  vertical-align: middle;
}
.help-container {
  width: 100%;
  /*padding-left: 10px;*/
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 0.75em;
}
.help-instructions {
  float: left;
  width: 75%;
  height: 75px;
}
.help-bob {
  position: relative;
  background: url('../images/loading_man.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 25%;
  margin-top: 10px;
  margin-left: 75%;
}
.callout-text {
  color: #fff;
  line-height: 1.2rem;
}

.callout {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #c2e1f5;
  border-radius: 10px;
  padding: 12px;
}
.callout:after, .callout:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.callout:after {
  border-color: rgba(70, 95, 110, 0);
  border-left-color: rgba(70, 95, 110, 1);
  border-width: 12px;
  margin-top: -12px;
}
.callout:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: rgba(194, 225, 245, 1);
  border-width: 15px;
  margin-top: -15px;
}