
@font-face { font-family: Fipps; src: url('Fipps-Regular.otf');}
@font-face { font-family: Minecraftia; src: url('Minecraftia.ttf');}

body{
  font-family: Minecraftia;
  overflow-x: hidden;
}

.loaded-content-wrapper {
	margin-left: 100%;
	width: 100%;
	position: absolute;
}

/*style.css*/

.container {
	padding: 30px;
	margin: 0 auto;
	width: 1140px;
}
.grid-container {
	position: relative;
	clear: both;
}
/*Left Panel*/

#color-picker {
	border: 1px solid #ccc;
	padding: 10px;
	width: auto;
	margin-left: 0px;
}
#color-map {
	background-image: url('map-saturation.png');
	height: 255px;
	width: 270px;
}
#swatch-container {
	margin: 0;
	font-size: 0; /*hack to remove space between swatches*/
}
.swatch {
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: #000;
}

/*Middle Panel*/

canvas {
	cursor: url('../images/cursor.cur'), auto;
}


#bg, #overlay {
	position: absolute;
	left: 0;
	top: 0;
}
#bg {
	border: 1px dotted #000;
	z-index: 0;
}
#overlay {
	border: 1px solid #fff;
	z-index: 999;
	opacity: 1;
}

/* Right Panel */

.preview-container {
	position: relative;
	border: 1px solid #fff;
	height: 300px;
	width:300px;
	background: rgba(255,255,255,0.5);
}

#preview {
	position: absolute;
	left: 20px;
	top: 20px;
	cursor: default;
	clear: both;
}

#page-dim {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
}

#ajax-loader {
	top: calc(50% - 64)px;
	left: calc(50% - 64)px;
	background-image: url('/images/ajax_loader_red_128.gif');
}

/*style.css*/



div{
    border: 0;
     width: 100%;
     height: auto;
}

.menu{
  display: block;
    position: relative;
    width: auto;
    height: auto;
    border: red 2px solid;
    }

#dance{
  border: 0;
  width: auto;
  height: auto;
  position: relative;

}

#editor{
  border: 0;
  width: auto;
  height: auto;
  position: relative;

}
.title-wrapper {
  width: 1000px;
  margin: 0 auto;
}

.title{
  border: 0;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 120px;

}

.filler{
  height: 100px;
  position: relative;
}

.row{
  position: relative;
}
html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dancer-container{
position: absolute;
height: 200px;
width: 200px;
top: 400px;
margin: -100px 0 0 -150px;
left: 50%;
z-index: 15;
}

.dancer{
position: relative;
width: 200px;
height: 200px;
}

.moves-container{
  float: right;
  position: relative;

  width: 400px;
}

.contact-header{
  color:white;

}
.contact{
color: white;
  width: 50%;
  margin:auto;
  font-size: 20px;
}

.names{
  color: white;
  text-decoration: none;
}
label{
color: #fff;
}

span{
color: #fff;
}

.home{
  margin-top: 300px;
}

/*Moves Editor*/

.moves-editor-container {
  /*display: none;*/
}

/*Instructions Overlay*/

/*overlay*/
.overlay-container {}
.instructions-container {}
.instructions {}

/*instructions*/

/*keymap tooltips*/

li.tooltip {
  list-style-type: none;
}

.keyboard-tip-outer {
  /*display: inline;*/
  color: #eee;
  height: 30px;
  width: 30px;
  padding: 2px;
  text-align: center;
  border-radius: 15%;
  border: 1px solid #eee;
}

.keyboard-tip-inner {
  /*display: inline;*/
  border-radius: 15%;
  border: 1px solid #eee;
  padding: 2px;
}

.keyboard-tip-inner span {
  display: inline-block;
  vertical-align: middle;
}
