/*transitions*/

body { overflow-x: hidden; }

.loaded-content-wrapper {
	margin-left: 100%;
	width: 100%;
	position: absolute;
}

/*style.css*/

.container {
	padding: 30px;
	margin: 0 auto;
	width: 1140px;
}
.grid-container {
	position: relative;
	clear: both;
}
/*Left Panel*/

#color-picker {
	border: 1px solid #ccc;
	padding: 10px;
	width: auto;
	margin-left: 0px;
}
#color-map {
	background-image: url('map-saturation.png');
	height: 255px;
	width: 270px;
}
#swatch-container {
	margin: 0;
	font-size: 0; /*hack to remove space between swatches*/
}
.swatch {
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: #000;
}

/*Middle Panel*/

canvas {
	cursor: url('../images/cursor.cur'), auto;
}


#bg, #overlay {
	position: absolute;
	left: 0;
	top: 0;
}
#bg {
	border: 1px dotted #000;
	z-index: 0;
}
#overlay {
	border: 1px solid #fff;
	z-index: 999;
	opacity: 1;
}

/* Right Panel */



.preview-container {
	position: relative;
	border: 1px solid #fff;
	height: 300px;
	width:300px;
}

#preview {
	position: absolute;
	left: 20px;
	top: 20px;
	cursor: default;
	clear: both;
	z-index: -1;
}



