- content_for :moves
%div.dancer-container
	%div.dancer
		%img(src='images/mario.png')
%div.moves-container
	%label Dance Moves
	%a#shake(href='#')
		%img(src='/images/shake.png')
	%a#wobble(href='#')
		%img(src='/images/wobble.png')
	%a#swing(href='#')
		%img(src='/images/swing.png')
	%a#bounce(href='#')
		%img(src='/images/bounce.png')
	%a#bounceInLeft(href='#')
		%img(src='/images/SlideLeft.png')
	%a#bounceInRight(href='#')
		%img(src='/images/SlideRight.png')
%div.controls
	%button#button-save.button.button-save
		Save